<%- include('./partials/header') %>

<body>
    <div class id="container">
    <div class="col">
        <div class=" card card1">
            <h5>Pop Music</h5>
            <p>Pop music is the genre of popular music with the most hits. A hit is a song that sells many copies, and the latest hits are listed every week on the charts.</p>
        </div>
        <div class="card card2">
            <h5>Rock Music</h5>
            <p>Rock music, sometimes called "rock and roll," became popular in America and Europe during the 1950s. The music is mainly influenced by older musical styles.</p>
        </div>
        <div class="card card3">
            <h5>Hip-hop/Rap Music</h5>
            <p>Hip-hop/Rap is an artistic and cultural movement that has influenced everything from fashion to politics. </p>
        </div>
        <div class="card card4">
            <h5>Country Music</h5>
            <p>Country music is  an American popular music style that originated in rural areas of the South and West in the early 20th century. Country music is also known as western music.</p>
        </div>
        <div class=" card card5">
            <h5>Jazz Music</h5>
            <p>Jazz music is characterized by complex harmony, syncopated rhythms, and improvisation. The jazz style was developed by black musicians in New Orleans.</p>
        </div>
        <div class=" card card6">
            <h5>Classical Music</h5>
            <p>Classical music is the art music of the Western world, considered to be distinct from Western folk music or popular music traditions. </p>
        </div>

    </div>

    </div>
</body>

<%- include('./partials/footer') %>